.container {
  margin-top: 20px;
  text-align: center;
  font-size: 1em;
}

.weather {
  display: inline-block;
  font-size: 1.3em;
}

.weather-img {
  width: 100px;
  height: 100px;
}

.temperatures {
  display: flex;
  justify-content: space-around;
}
